@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .glass {
    backdrop-filter: blur(3px) saturate(187%);
    -webkit-backdrop-filter: blur(3px) saturate(187%);
    background-color: rgba(255, 255, 255, 0.36);
  }
  /* ... */
}

@layer utilities {
  .filter-none {
    filter: none;
  }
  .filter-grayscale {
    filter: grayscale(100%);
  }
}

#root {
  @apply w-full h-full overflow-hidden;
}
